/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* colors */
:root {
  --color-primary: #f00;
  --color-secondary: #0f0;
  --color-link: #00f;
  --color-highlight: #00a;
  --color-black: #000;
  --color-white: #fff;
}

body {

}

h1, h2, h3, h4, h5 {

}

a {

}

a:hover {

}

button {

}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {

}