/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* colors */
:root {
  --color-primary: #11744b;
  --color-secondary: #164932;
  --color-link: #4b40b9;
  --color-highlight: #4b40b9;
  --color-black: #1d2421;
  --color-white: #dee2e5;
  --color-true-white: #fff;
  --color-true-black: #000;
}

body {

}

h1, h2, h3, h4, h5 {

}

a {

}

a:hover {

}

button {

}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {

}
